@font-face {
  font-family: "exo";
  src: url(/fonts/Exo/Exo/static/Exo-Medium.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/Exo/Roboto/static/Roboto-Black.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: exo, roboto, sans-serif;
}

/* Animated background for app presentation */

.bg-stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(white 1px, transparent 1.5px);
  background-size: 70px 70px;
  opacity: 0.15;
  animation: star-flicker 2s infinite alternate;
  z-index: 0;
  pointer-events: none;
}

@keyframes star-flicker {
  0% {
    opacity: 0.15;
    transform: translateY(0);
  }

  100% {
    opacity: 0.25;
    transform: translateY(-10px);
  }
}